documents/day wise explanation/day6_xml_schema_swagger_security/business_team/examples/schema/employee.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:ns="http://example.com/employees" 
           targetNamespace="http://example.com/employees" 
           elementFormDefault="qualified">

    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EmployeeID" type="xs:int"/>
                            <xs:element name="Name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" type="xs:string"/>
                                        <xs:element name="LastName" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Position" type="xs:string"/>
                            <xs:element name="Department" type="xs:string"/>
                            <xs:element name="Salary" type="xs:decimal"/>
                            <xs:element name="DateOfJoining" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
